.searchContainer {
  background: #fff;
  display: flex;
  align-items: center;
  width: 38%;
  border-radius: 3px;
  padding: 5px 5px 5px 10px;
  margin-left: 25px;

  .inputSearchBase {
    width: 100%;
  }
  .searchIcon {
    color: #2874f0;
  }
}
